name: Test
on: push

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]
        node-version: [15.x]
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions-rs/cargo@v1
        with:
          command: build
      - name: Cargo Test
        run: |
          make test
      - name: mirror test
        run: |
          npm install -g zx
          make redis
          cargo run &
          make scenario_test
          kill %1
          make redis_stop
